<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.emeriscollege.hackormythapp.st10458304.hackormyth">

    <application
        android:allowBackup="true"
        android:label="HackOrMyth"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.HackOrMythApp">

        <!-- Main screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Quiz screen -->
        <activity android:name=".QuizActivity" />

        <!-- Score screen -->
        <activity android:name=".ScoreActivity" />

    </application>

</manifest>